$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "../bower_components/sass-bootstrap/lib/bootstrap";


html, body, #map-object {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #222;
}

#map-object {
	width: 100%;
	height: 100%;
}

#map-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	margin: -20px 0 0 5px;
	display: none;
	z-index: 100;
	padding: 2px 7px;
	border: 1px #888 solid;
	border-radius: 5px;
	background: #EFEFEF;
	font-size: 13px;
	text-transform: capitalize;
}