$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "variables";
@import "bootstrap-components";


html, body, #map-object, .browsehappy {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #222;
	overflow: hidden;
}

.browsehappy {
  color: #EEE;
  text-align: center;
  padding-top: 30px;
}

noscript {
	color: #EEE;
	h4 {
		position: absolute;
		top: 20px;
		text-align: center;
		width: 100%;
	}
}

#map-object {
	width: 100%;
	height: 100%;
}

/* Map tooltips */
.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;
	padding: 10px;
	border: 1px #888 solid;
	border-radius: 5px;
	background: #EFEFEF;
	font-size: 13px;

	&.show {
		display: block;
	}

	&.country-tooltip {
		margin: -20px 0 0 5px;
		padding: 2px 7px;
		text-transform: capitalize;
	}
}

// All ng-view pages
.view-container {

	position: absolute;
	top: 0;
	bottom: 0;
	width: 300px;
	left: -100%;
	-webkit-transition: left .4s ease;
	transition: left .4s ease;

	&.loading {
		background-image: url(../images/loading.gif);
		background-repeat: no-repeat;
		background-position: center center;
	}

	&.show {
		left: 0;
	}

	> div {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(255, 255, 255, .5);
		padding: 0 10px;
		color: #222;
		overflow-y: auto;

		.btn-icon {
			position: absolute;
			top: 5px;
			right: 4px;
			font-size: 30px;
			line-height: 17px;
			cursor: pointer;
		}
	}
}

// info screen
.info-screen {

	section {

		.nav-tabs {
			border: 0;

			li {
				a {
					color: #333;
					cursor: pointer;
					border-radius: 0;
					padding: 5px;
					border: 0;
				}

				&.active a {
					border: 0;
				}
			}
		}

		.tab-content {

			display: none;
			padding: 8px 15px 4px 5px;
			margin: 0 -10px 0 0;
			background: rgba(238, 238, 238, .6);

			&.active {
				display: block;
			}

			ul {
				margin-bottom: 0;

				li a {
					cursor: pointer;
					padding: 3px;
					color: #222;
					display: inline-block;

					&:hover, &.selected {
						color: brown;
						text-decoration: underline;
					}
				}
			}
		}
	}
}


// Destination country screen
.requirements-info {

	.back {

	}
}