$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "bootstrap-components";


html, body, #map-object {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #222;
	overflow: hidden;
}

noscript {
	color: #EEE;
	h4 {
		position: absolute;
		top: 20px;
		text-align: center;
		width: 100%;
	}
}

#map-object {
	width: 100%;
	height: 100%;
}

/* Map tooltips */
.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;
	padding: 10px;
	border: 1px #888 solid;
	border-radius: 5px;
	background: #EFEFEF;
	font-size: 13px;

	&.show {
		display: block;
	}

	&.country-tooltip {
		margin: -20px 0 0 5px;
		padding: 2px 7px;
		text-transform: capitalize;
	}

	&.info-tooltip {
		margin: 5px;
		background-color: rgba(255, 255, 255, .5);
		height: 200px;
		color: #222;
	}
}