// noinspection ALL
#map-svg {
	path {
		fill: #555;

		&.active {
			fill: #bbb;
		}

		&.selected {
			fill: coral;
		}

		&.visa-free {
			fill: #68AF46;
		}

		&.visa-arrive {
			fill: #97af9f;
		}
	}
}