// noinspection ALL
svg {
	path {
		fill: #555;

		&.active {
			fill: #bbb;
		}

		&.selected {
			fill: coral;
		}

		// visa-free
		&.vf {
			fill: #68AF46;
		}

		// visa-arrive
		&.va {
			fill: #97af9f;
		}

		// visa-required
		&.vr {
			fill: #ff3f3a;
		}

		&.remove {
			fill: red;
		}
	}
}