<div class="info-screen entrance-{{tab}}">

	<!-- close info screen -->
	<div class="btn-icon" ng-click="close()" title="Close">&times;</div>

	<!-- if country was found in db -->
	<div ng-if="country.name">

		<header>
			<h4>{{country.name}}</h4>
		</header>

		<section>
			<ul class="nav nav-tabs">
				<li ng-class="{active: tab == 'vf'}" ng-click="setTab('vf')">
					<a>Visa free</a>
				</li>
				<li ng-class="{active: tab == 'va'}" ng-click="setTab('va')">
					<a>Visa on arrival</a>
				</li>
				<li ng-class="{active: tab == 'vr'}" ng-click="setTab('vr')">
					<a>Visa required</a>
				</li>
			</ul>

			<div class="content">
				<div class="tab-content tab-vf" ng-class="{active: tab == 'vf'}">
					<ul class="list-unstyled">
						<li ng-repeat="c in country.vf">
							<a class="country" href="/from/{{country.code}}/to/{{c.code}}">{{c.name}}</a>
						</li>
						<li ng-hide="country.vf.length">No countries here.</li>
					</ul>
				</div>
				<div class="tab-content tab-va" ng-class="{active: tab == 'va'}">
					<ul class="list-unstyled">
						<li ng-repeat="c in country.va">
							<a class="country" href="/from/{{country.code}}/to/{{c.code}}">{{c.name}}</a>
						</li>
						<li ng-hide="country.va.length">No countries here.</li>
					</ul>
				</div>
				<div class="tab-content tab-vr" ng-class="{active: tab == 'vr'}">
					<ul class="list-unstyled">
						<li ng-repeat="c in country.vr">
							<a class="country" href="/from/{{country.code}}/to/{{c.code}}">{{c.name}}</a>
						</li>
						<li ng-hide="country.vr.length">No countries here.</li>
					</ul>
				</div>
			</div>

		</section>

	</div>

	<!-- if country was not loaded -->
	<div ng-if="country.error">
		<h3>Ops! Something went wrong!..</h3>
		<p class="error">{{country.error}}</p>
	</div>

</div>