<div class="requirements-info">

	<!-- close info screen -->
	<div class="btn-icon btn-back" ng-click="back()" title="Title">&#8592;</div>

	<!-- Destination country information -->
	<header>
		<h4>{{toCountry.name}}</h4>
		<p>Trip from {{fromCountry.name}} to {{toCountry.name}}.</p>
	</header>

	<section>

		<div class="info" ng-if="toCountry.info">
			<h4>{{toCountry.info.title}}</h4>
			<p>{{toCountry.info.details}}</p>
		</div>

		<div class="visa" ng-if="toCountry.visa">
			<div ng-repeat="visaInfo in toCountry.visa">
				<h4>{{visaInfo.title}}</h4>
				<ul>
					<li ng-repeat="item in visaInfo.details">{{item}}</li>
				</ul>
			</div>
		</div>

	</section>

</div>